{% extends "bootstrap/base.html" %}

{% block title %}Sukebench{% endblock %}

{% block content %}

<div class="container">
    <h1>Sukebench</h1>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a href="#cpu" class="nav-link active" data-toggle="tab">CPU</a>
        </li>
        <li class="nav-item">
            <a href="#memory" class="nav-link" data-toggle="tab">Memory</a>
        </li>
        <li class="nav-item">
            <a href="#swap" class="nav-link" data-toggle="tab">Swap</a>
        </li>
        <li class="nav-item">
            <a href="#disks" class="nav-link" data-toggle="tab">Disks</a>
        </li>
        <li class="nav-item">
            <a href="#network" class="nav-link" data-toggle="tab">Network</a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="cpu" class="tab-pane active">
            <h2>CPU</h2>
            <table class="table table-bordered table-striped">
                <tr>
                    <th>使用率</th>
                    <td>{{ cpu_info.use_rate }} %</td>
                </tr>
                <tr>
                    <th>ロードアベレージ</th>
                    <td>
                        <span>{{ cpu_info.load_average[0] }}（過去１分）/</span>
                        <span>{{ cpu_info.load_average[1] }}（過去５分）/</span>
                        <span>{{ cpu_info.load_average[2] }}（過去15分）</span>
                    </td>
                </tr>
                <tr>
                    <th>物理コア数</th>
                    <td>{{ cpu_info.real_count }}</td>
                </tr>
                <tr>
                    <th>論理コア数</th>
                    <td>{{ cpu_info.logical_count }}</td>
                </tr>
                <tr>
                    <th>クロック周波数</th>
                    <td>{{ cpu_info.frequency }} GHz</td>
                </tr>
            </table>
        </div>
        <div id="memory" class="tab-pane">
            <h2>Memory</h2>
            <table class="table table-bordered table-striped">
                <tr>
                    <th>容量</th>
                    <td>{{ memory_info.total }} GB</td>
                </tr>
                <tr>
                    <th>空き容量</th>
                    <td>{{ memory_info.available }} GB</td>
                </tr>
                <tr>
                    <th>使用量</th>
                    <td>{{ memory_info.used }} GB</td>
                </tr>
            </table>
        </div>
        <div id="swap" class="tab-pane">
            <h2>Swap</h2>
            <table class="table table-bordered table-striped">
                <tr>
                    <th>容量</th>
                    <td>{{ swap_info.total }} GB</td>
                </tr>
                <tr>
                    <th>空き容量</th>
                    <td>{{ swap_info.free }} GB</td>
                </tr>
                <tr>
                    <th>使用量</th>
                    <td>{{ swap_info.used }} GB</td>
                </tr>
            </table>
        </div>
        <div id="disks" class="tab-pane">
            <h2>Disks</h2>
            <table class="table table-bordered table-striped">
                <tr>
                    <th>容量（/）</th>
                    <td>{{ disks_info.total }} GB</td>
                </tr>
                <tr>
                    <th>空き容量（/）</th>
                    <td>{{ disks_info.free }} GB</td>
                </tr>
                <tr>
                    <th>使用量（/）</th>
                    <td>{{ disks_info.used }} GB</td>
                </tr>
                <tr>
                    <th>使用率（/）</th>
                    <td>{{ disks_info.use_rate }} %</td>
                </tr>
                <tr>
                    <th>パーティション</th>
                    <td>
                        {% for partition in disks_info.partitions %}
                        <table class="table table-bordered table-striped">
                            <tr>
                                <th>デバイス</th>
                                <td>{{ partition.device }}</td>
                            </tr>
                            <tr>
                                <th>マウントポイント</th>
                                <td>{{ partition.mountpoint }}</td>
                            </tr>
                            <tr>
                                <th>ファイルシステム</th>
                                <td>{{ partition.fstype }}</td>
                            </tr>
                            <tr>
                                <th>オプション</th>
                                <td>{{ partition.opts }}</td>
                            </tr>
                        </table>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th>読み込み（/）</th>
                    <td>
                        <span>{{ disks_info.read_count }} 回 /</span>
                        <span>{{ disks_info.read_bytes }} B</span>
                    </td>
                </tr>
                <tr>
                    <th>書き込み（/）</th>
                    <td>
                        <span>{{ disks_info.write_count }} 回 /</span>
                        <span>{{ disks_info.write_bytes }} B</span>
                    </td>
                </tr>
            </table>
        </div>
        <div id="network" class="tab-pane">
            <h2>Network</h2>
            <table class="table table-bordered table-striped">
                <tr>
                    <th>送信</th>
                    <td>{{ network_info.bytes_sent }} B / {{ network_info.packets_sent }} パケット</td>
                </tr>
                <tr>
                    <th>受信</th>
                    <td>{{ network_info.bytes_recv }} B / {{ network_info.packets_recv }} パケット</td>
                </tr>
                <tr>
                    <th>エラー</th>
                    <td>イン: {{ network_info.errin }} / アウト: {{ network_info.errout }}</td>
                </tr>
                <tr>
                    <th>ドロップ</th>
                    <td>イン: {{ network_info.dropin }} / アウト: {{ network_info.dropout }}</td>
                </tr>
                <tr>
                    <th>コネクション</th>
                    <td>
                        {% for connection in network_info.connections %}
                        <table class="table table-bordered table-striped">
                            <tr>
                                <th>ファイルディスクリプタ</th>
                                <td>{{ connection.fd }}</td>
                            </tr>
                            <tr>
                                <th>アドレスファミリー</th>
                                <td>{{ connection.family }}</td>
                            </tr>
                            <tr>
                                <th>アドレスタイプ</th>
                                <td>{{ connection.type }}</td>
                            </tr>
                            <tr>
                                <th>ローカルアドレス</th>
                                <td>IP: {{ connection.laddr.ip }} / ポート: {{ connection.laddr.port }}</td>
                            </tr>
                            <tr>
                                <th>リモートアドレス</th>
                                <td>IP: {{ connection.raddr.ip }} / ポート: {{ connection.raddr.port }}</td>
                            </tr>
                            <tr>
                                <th>ステータス</th>
                                <td>{{ connection.status }}</td>
                            </tr>
                            <tr>
                                <th>プロセスID</th>
                                <td>{{ connection.pid }}</td>
                            </tr>
                        </table>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th>インタフェース</th>
                    <td>
                        <ul>
                            {% for interface, other_info in network_info.interfaces.items() %}
                            <li>インタフェース: {{ interface }}</li>
                            {% for info in other_info %}
                            <table class="table table-bordered table-striped">
                                <tr>
                                    <th>アドレスファミリー</th>
                                    <td>{{ info.family }}</td>
                                <tr>
                                    <th>アドレス</th>
                                    <td>{{ info.address }}</td>
                                </tr>
                                <tr>
                                    <th>ネットマスク</th>
                                    <td>{{ info.netmask }}</td>
                                </tr>
                                <tr>
                                    <th>ブロードキャスト</th>
                                    <td>{{ info.broadcast }}</td>
                                </tr>
                                <tr>
                                    <th>VPN</th>
                                    <td>{{ info.ptp }}</td>
                                </tr>
                            </table>
                            {% endfor %}
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

{% endblock %}