{% extends "bootstrap/base.html" %}

{% block title %}Sukebench{% endblock %}

{% block content %}

<div class="container">
    <h1>Sukebench</h1>
    <ul class="nav nav-tabs">
        <li class="nav-item active">
            <a href="#cpu" class="nav-link" data-toggle="tab">CPU</a>
        </li>
        <li class="nav-item">
            <a href="#memory" class="nav-link" data-toggle="tab">Memory</a>
        </li>
        <li class="nav-item">
            <a href="#swap" class="nav-link" data-toggle="tab">Swap</a>
        </li>
        <li class="nav-item">
            <a href="#disks" class="nav-link" data-toggle="tab">Disks</a>
        </li>
        <li class="nav-item">
            <a href="#network" class="nav-link" data-toggle="tab">Network</a>
        </li>
        <li class="nav-item">
            <a href="#network-con" class="nav-link" data-toggle="tab">Network(Con)</a>
        </li>
        <li class="nav-item">
            <a href="#processes" class="nav-link" data-toggle="tab">Processes</a>
        </li>
        <li class="nav-item">
            <a href="#devices" class="nav-link" data-toggle="tab">Devices</a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="cpu" class="tab-pane active">
            <h2>CPU</h2>
            <table class="table table-bordered table-striped">
                <tr>
                    <th>使用率</th>
                    <td>{{ cpu_info.use_percent }} %</td>
                </tr>
                <tr>
                    <th>ロードアベレージ</th>
                    <td>
                        <span>過去１分: {{ cpu_info.load_average.last_1_min }} /</span>
                        <span>過去５分: {{ cpu_info.load_average.last_5_min }} /</span>
                        <span>過去15分: {{ cpu_info.load_average.last_15_min }}</span>
                    </td>
                </tr>
                <tr>
                    <th>物理コア数</th>
                    <td>{{ cpu_info.real_core_count }}</td>
                </tr>
                <tr>
                    <th>論理コア数</th>
                    <td>{{ cpu_info.logical_core_count }}</td>
                </tr>
                <tr>
                    <th>クロック周波数</th>
                    <td>{{ cpu_info.clock_frequency }} GHz</td>
                </tr>
            </table>
        </div>
        <div id="memory" class="tab-pane">
            <h2>Memory</h2>
            <table class="table table-bordered table-striped">
                <tr>
                    <th>容量</th>
                    <td>{{ memory_info.total }} GB</td>
                </tr>
                <tr>
                    <th>空き容量</th>
                    <td>{{ memory_info.available }} GB</td>
                </tr>
                <tr>
                    <th>使用量</th>
                    <td>{{ memory_info.used }} GB</td>
                </tr>
            </table>
        </div>
        <div id="swap" class="tab-pane">
            <h2>Swap</h2>
            <table class="table table-bordered table-striped">
                <tr>
                    <th>容量</th>
                    <td>{{ swap_info.total }} GB</td>
                </tr>
                <tr>
                    <th>空き容量</th>
                    <td>{{ swap_info.free }} GB</td>
                </tr>
                <tr>
                    <th>使用量</th>
                    <td>{{ swap_info.used }} GB</td>
                </tr>
            </table>
        </div>
        <div id="disks" class="tab-pane">
            <h2>Disks</h2>
            <table class="table table-bordered table-striped">
                <tr>
                    <th>容量（/）</th>
                    <td>{{ disks_info.total }} GB</td>
                </tr>
                <tr>
                    <th>空き容量（/）</th>
                    <td>{{ disks_info.free }} GB</td>
                </tr>
                <tr>
                    <th>使用量（/）</th>
                    <td>{{ disks_info.used }} GB</td>
                </tr>
                <tr>
                    <th>使用率（/）</th>
                    <td>{{ disks_info.use_percent }} %</td>
                </tr>
                <tr>
                    <th>パーティション</th>
                    <td>
                        {% for partition in disks_info.partitions %}
                        <table class="table table-bordered table-striped">
                            <tr>
                                <th>デバイス</th>
                                <td>{{ partition.device }}</td>
                            </tr>
                            <tr>
                                <th>マウントポイント</th>
                                <td>{{ partition.mountpoint }}</td>
                            </tr>
                            <tr>
                                <th>ファイルシステム</th>
                                <td>{{ partition.filesystem }}</td>
                            </tr>
                            <tr>
                                <th>オプション</th>
                                <td>
                                    {% for option in partition.options %}
                                    <span>{{ option }}</span>
                                    {% endfor %}
                                </td>
                            </tr>
                        </table>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th>読み込み（/）</th>
                    <td>
                        <span>{{ disks_info.read_count }} 回 /</span>
                        <span>{{ disks_info.read_bytes }} B</span>
                    </td>
                </tr>
                <tr>
                    <th>書き込み（/）</th>
                    <td>
                        <span>{{ disks_info.write_count }} 回 /</span>
                        <span>{{ disks_info.write_bytes }} B</span>
                    </td>
                </tr>
            </table>
        </div>
        <div id="network" class="tab-pane">
            <h2>Network</h2>
            <table class="table table-bordered table-striped">
                <tr>
                    <th>送信</th>
                    <td>{{ network_info.bytes_sent }} B / {{ network_info.packets_sent }} パケット</td>
                </tr>
                <tr>
                    <th>受信</th>
                    <td>{{ network_info.bytes_recv }} B / {{ network_info.packets_recv }} パケット</td>
                </tr>
                <tr>
                    <th>エラー</th>
                    <td>イン: {{ network_info.packets_errin }} / アウト: {{ network_info.packets_errout }}</td>
                </tr>
                <tr>
                    <th>ドロップ</th>
                    <td>イン: {{ network_info.packets_dropin }} / アウト: {{ network_info.packets_dropout }}</td>
                </tr>
                <tr>
                    <th>インタフェース</th>
                    <td>
                        <ul>
                            {% for key in network_info.logical_addrs.keys() %}
                            <li>インタフェース: {{ key }}</li>
                            <table class="table table-bordered table-striped">
                                <tr>
                                    <th>MACアドレス</th>
                                    <td>{{ network_info.physical_addrs[key].address }}</td>
                                </tr>
                                <tr>
                                    <th>ベンダ</th>
                                    <td>{{ network_info.physical_addrs[key].vendor }}</td>
                                </tr>
                            </table>
                            {% for addr in network_info.logical_addrs[key] %}
                            <table class="table table-bordered table-striped">
                                <tr>
                                    <th>アドレスファミリー</th>
                                    <td>{{ addr.address_family }}</td>
                                <tr>
                                    <th>IPアドレス（ユニキャスト）</th>
                                    <td>{{ addr.ip_address }}</td>
                                </tr>
                                <tr>
                                    <th>ネットマスク</th>
                                    <td>{{ addr.netmask }}</td>
                                </tr>
                                <tr>
                                    <th>ブロードキャストアドレス</th>
                                    <td>
                                        {% if addr.broadcast_address is none %}
                                        <span>-</span>
                                        {% else %}
                                        <span>{{ addr.broadcast_address }}</span>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>VPN</th>
                                    <td>
                                        {% if addr.vpn is none %}
                                        <span>-</span>
                                        {% else %}
                                        <span>{{ addr.vpn }}</span>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>NIC</th>
                                    <td>{{ network_info.interface_stats[key].isup }}</td>
                                </tr>
                                <tr>
                                    <th>通信方式</th>
                                    <td>{{ network_info.interface_stats[key].duplex }}</td>
                                </tr>
                                <tr>
                                    <th>速度</th>
                                    <td>{{ network_info.interface_stats[key].speed }}</td>
                                </tr>
                                <tr>
                                    <th>MTU</th>
                                    <td>{{ network_info.interface_stats[key].mtu }}</td>
                                </tr>
                            </table>
                            {% endfor %}
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
        <div id="network-con" class="tab-pane">
            <h2>Network connections</h2>
            {% for connection in network_connections_info %}
            <table class="table table-bordered table-striped">
                <tr>
                    <th>ファイルディスクリプタ</th>
                    <td>{{ connection.file_descriptor }}</td>
                </tr>
                <tr>
                    <th>アドレスファミリー</th>
                    <td>{{ connection.address_family }}</td>
                </tr>
                <tr>
                    <th>アドレスタイプ</th>
                    <td>{{ connection.address_type }}</td>
                </tr>
                <tr>
                    <th>ローカルアドレス</th>
                    <td>IP: {{ connection.local_ip_address }} / ポート: {{ connection.local_port_number }}</td>
                </tr>
                <tr>
                    <th>リモートアドレス</th>
                    <td>
                        {% if connection.remote_ip_address %}
                        <span>IP: {{ connection.remote_ip_address }} / ポート: {{ connection.remote_port_number }}</span>
                        {% else %}
                        <span>-</span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>ステータス</th>
                    <td>{{ connection.status }}</td>
                </tr>
                <tr>
                    <th>プロセスID</th>
                    <td>{{ connection.pid }}</td>
                </tr>
            </table>
            {% endfor %}
        </div>
        <div id="processes" class="tab-pane">
            <h2>Processes</h2>
            <table class="table table-bordered table-striped">
                <tr>
                    <th>プロセスID</th>
                    <th>プロセス名</th>
                    <th>実行ユーザー</th>
                </tr>
                {% for proc in procs_info.procs %}
                <tr>
                    <td>{{ proc.info.pid }}</td>
                    <td>{{ proc.info.name }}</td>
                    <td>{{ proc.info.username }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div id="devices" class="tab-pane">
            <h2>Devices</h2>
            <table class="table table-bordered table-striped">
                <tr>
                    <th>ユーザー</th>
                    <td>
                        {% for user in devices_info.users %}
                        <table class="table table-bordered table-striped">
                            <tr>
                                <th>ユーザー名</th>
                                <td>{{ user.name }}</td>
                            </tr>
                            <tr>
                                <th>端末</th>
                                <td>{{ user.terminal }}</td>
                            </tr>
                            <tr>
                                <th>ホスト</th>
                                <td>
                                    {% if user.host is none %}
                                    <span>-</span>
                                    {% else %}
                                    <span>{{ user.host }}</span>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>作成日時</th>
                                <td>{{ user.started }}</td>
                            </tr>
                            <tr>
                                <th>ログインプロセスID</th>
                                <td>{{ user.pid }}</td>
                            </tr>
                        </table>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th>バッテリー残量</th>
                    <td>{{ devices_info.battery_percent }} % （残り {{ devices_info.battery_secleft }}）</td>
                </tr>
                <tr>
                    <th>充電</th>
                    <td>{{ devices_info.battery_power_plugged }}</td>
                </tr>
                <tr>
                    <th>起動日時</th>
                    <td>{{ devices_info.boot_time }}</td>
                </tr>
                <tr>
                    <th>プラットフォーム</th>
                    <td>{{ devices_info.platform_name }}</td>
                </tr>
                <tr>
                    <th>バージョン</th>
                    <td>{{ devices_info.platform_version }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>

{% endblock %}